
.site-footer a {
	color: #fad65e;
	text-decoration: none;
}
.site-footer a:hover {
	color: #eee;
}
.site-footer i {
	color: #eee;
}
.btn-social-icon {
	margin: 0.5rem;
}

.order-banner {
	background-color: rgb(2, 20, 24);
	text-align: center;
	padding: 0.5rem;
	height: 2.5rem;
	text-decoration: none;
	color: #eee;
}
.order-banner :hover {
	color: #fad65e;
}

nav {
	max-width: 1200px;
}
.brand-name {
	background-color: #fdfdfd;
}
#overlay a {
	color: rgb(3, 61, 74);
}
#overlay a:hover, .brand-name:hover, .nav-link:hover {
	color: #d8a600;
}

.header {
	background-color: rgba(255, 255, 255, 0.25);
	height: 9rem;
}

.navbar-nav {
	text-align: center;
}

.navbar-toggler-icon {
	color: rgb(2, 20, 24);
}

.navlinks {
	background-color: #fdfdfd;
}

h2 {
	font-size: 2.5em;
}

#shop-img {
	z-index: -1;
}

#overlay {
	background-color: #d1d5d57f;
	max-width: 750px;
	color: rgb(2, 20, 24);
	top: 15%;
	color: rgb(3, 61, 74);
}
#overlay a {
	color: rgb(3, 61, 74);
}

footer {
	margin-top: 5rem;
	padding-top: 50px;
	background-color: rgb(23, 122, 138);
	color: #eee;
}

.coffee-map-info {
	margin: 1.2rem auto;
	width: 50%;
}

.app {
	background-image:     linear-gradient(
		rgba(255, 255, 255, 0.5), 
		rgba(255, 255, 255, 0.5)
	  ), url(./app/assets/dddraw.svg);
	margin: 0;
	padding: 0;
}


/* may change with real imgs */
.carousel .carousel-item {
	height: 500px;
  }
  
.carousel .carousel-item img {
	  position: absolute;
	  object-fit:cover;
	  top: 0;
	  left: 0;
	  min-height: 500px;
  }

  .mapPage {
	background-color: #fdfdfd;
	padding: 5px;
  }

  .menupage-hr {
	width: 80%;
  }

  .aboutpage-img {
	border-radius: 8px;
	max-height: 600px;
  }

  .aboutpage-btn {
	width: 100%;
	height: 3rem;
	background-color: #d8a600;
  }

  .aboutpage-container {
	color: rgb(3, 61, 74);
  }

  .carousel-links {
	text-decoration: none;
	color: #fdfdfd;
  }
  .carousel-links:hover {
	color: #d8a600;
  }

  .coffee-class-card {
	border-radius: 10px;
  }
  .class-card-img {
	border-radius: 10px;
  }
  