.site-footer a {
	color: #fad65e;
	text-decoration: none;
}
.site-footer a:hover {
	color: #eee;
}
.site-footer i {
	color: #eee;
}
.btn-social-icon {
	margin: 0.5rem;
}

.order-banner {
	background-color: rgb(2, 20, 24);
	text-align: center;
	padding: 0.2rem;
	height: 2rem;
	text-decoration: none;
	color: #eee;
}
.order-banner :hover {
	color: #fad65e;
}

nav {
	background-color: #fff;
}
nav a, .navbar-nav a, #overlay a {
	color: rgb(3, 61, 74);
}
nav a:hover,
.navbar-nav a:hover, 
#overlay a:hover {
	color: #d8a600;
}

.navbar-nav {
	text-align: center;
}

.navbar-toggler-icon {
	color: rgb(2, 20, 24);
}

h2 {
	font-size: 2.5em;
}

#shop-img {
	z-index: -1;
}

#overlay {
	background-color: #d1d5d57f;
	max-width: 750px;
	color: rgb(2, 20, 24);
	top: 15%;
	color: rgb(3, 61, 74);
}
#overlay a {
	color: rgb(3, 61, 74);
}

footer {
	margin-top: 5rem;
	padding-top: 50px;
	background-color: rgb(3, 61, 74);
	color: #eee;
}
