:root {
	--dark-green-text-color: #033d4a;
	--off-white-color: #fdfdfd;
	--dark-gold-color: #d8a600;
	--light-gold-color: #fad65e;
	--black: rgb(2, 20, 24);
	--light-blue: #3b7ae6;
	--dark-red: rgb(161, 34, 43);
}


.order-banner {
	background-color: var(--black);
	text-align: center;
	padding: 0.5rem;
	height: 2.5rem;
	text-decoration: none;
	color: var(--off-white-color);
}
.order-banner:hover {
	color: var(--light-gold-color);
}


.coffee-info-img, .class-info-img {
	border-radius: 20px;
}


nav {
	max-width: 1200px;
}
.brand-name {
	background-color: var(--off-white-color);
}
#overlay a {
	color: var(--dark-green-text-color);
}
#overlay a:hover, .brand-name:hover, .nav-link:hover {
	color: var(--dark-gold-color);
}

.header {
	background-color: rgba(255, 255, 255, 0.25);
	height: 9rem;
}

.navbar-nav {
	text-align: center;
}

.navbar-toggler-icon {
	color: var(--black);
}

.navlinks {
	background-color: var(--off-white-color);
}

h2 {
	font-size: 2.5em;
}

#shop-img {
	z-index: -1;
}

#overlay {
	background-color: #d1d5d57f;
	border-radius: 30px;
	max-width: 750px;
	color: var(--black);
	top: 15%;
	color: var(--dark-green-text-color);
}
#overlay a {
	color: var(--dark-green-text-color);
}

footer {
	margin-top: 5rem;
	padding-top: 50px;
	background-color: rgb(37, 118, 131);
	color: #eee;
}

.coffee-map-info {
	margin: 1.2rem auto;
	width: 50%;
}

.app {
	background-image:     linear-gradient(
		rgba(255, 255, 255, 0.5), 
		rgba(255, 255, 255, 0.5)
	  ), url(./app/assets/dddraw.svg);
	margin: 0;
	padding: 0;
}


/* may change with real imgs */
.carousel .carousel-item {
	height: 500px;
  }
  
.carousel .carousel-item img {
	  position: absolute;
	  object-fit:cover;
	  top: 0;
	  left: 0;
	  min-height: 500px;
  }

  .mapPage {
	background-color: var(--off-white-color);
	padding: 5px;
  }

  .menupage-hr {
	width: 80%;
  }

  .aboutpage-img {
	border-radius: 10px;
	max-height: 600px;
  }

  .aboutpage-btn {
	width: 100%;
	height: 3rem;
	background-color: var(--dark-gold-color);
  }

  .aboutpage-container {
	color: var(--dark-green-text-color);
  }

  .carousel-links {
	text-decoration: none;
	color: var(var(--off-white-color));
  }
  .carousel-links:hover {
	color: var(--dark-gold-color);
  }
  
  .contact-page-location-link {
	text-decoration: none;
	color: var(--dark-green-text-color);
  }
  .contact-page-location-link:hover {
	color: var(--dark-gold-color);
  }

  

.site-footer a {
	color: var(--light-gold-color);
	text-decoration: none;
}
.site-footer a:hover {
	color: #eee;
}
.site-footer i {
	color: #eee;
}
.btn-social-icon {
	margin: 0.5rem;
}

.info-text{
	line-height: 1.8;
}

.page-overlay {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.contact-page-location-info {
	background-color: var(--light-blue);
	border-radius: 10px;
}

.contact-submit-btn {
	width: 100%;
}

.class-page-intro-text a {
	text-decoration: none;
	color: var(--dark-gold-color);
	font-weight: 600;
}

.class-filter-bar {
	display: flex;
	justify-content: space-evenly;
}
.class-filter-bar .filter-section {
	flex: 1;
}

.class-filter-bar h4, h5 {
	color: var(--dark-green-text-color);
}

.class-filter-bar button {
	margin: 4px;
	background: transparent;
	border: 3px solid var(--dark-gold-color);
	border-radius: 15px;
	color: var(--dark-gold-color);
	padding: 5px 10px;
	font-weight: 600;
}

.class-filter-bar .filter-on {
	background: var(--dark-green-text-color);	
	border: 3px solid var(--dark-green-text-color);
}

.class-filter-bar .filter-off {
	background: var(--off-white-color);
	color: var(--dark-gold-color);
}
.class-filter-bar .filter-off:hover {
	background: var(--dark-gold-color);
	color: var(--off-white-color);
}

.class-filter-bar .reset-filter-button {
	color: var(--dark-red);
	border: 3px solid var(--dark-red);
	background: var(--off-white-color);
}
.class-filter-bar .reset-filter-button:hover {
	color: var(--off-white-color);
	border: 3px solid var(--dark-red);
	background: var(--dark-red);
}

.class-filter-bar .reset-group-btn {
	color:var(--light-blue);
	border: 3px solid var(--light-blue);
	background: var(--off-white-color);
}

.class-filter-bar .reset-group-btn:hover {
	color: var(--off-white-color);
	border: 3px solid var(--light-blue);
	background: var(--light-blue);
}
